.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: black;
}

.header:hover {
  color: cornflowerblue;
}

.subtext {
  text-align: center;
}
